/* You can add global styles to this file, and also import other style files */
// scrollbar
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
  
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.mb-15{
    margin-bottom: 15px;
}

.mb-40{
    margin-bottom: 40px;
}

.w-30{
    width: 30px;
}

.w-150{
    width: 150px !important;
}

.default-text{
    font-weight: 600;
    font-size: 16px;
}

.b-radius{
    border-radius: 100%;
}

// dragula
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    border: 1px solid black;
  }